/*代码通用*/
img{
	outline: none;
	border: none;
}
*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
body{
	font-size: 12px;
	color: #565656;
	font:12px/1.5em tahoma,arial,'\5b8b\4f53',sans-serif;
}
ul li{
	list-style: none;
}
.slide{
	width: 223px;
	height: 165px;
	border: 1px solid #e0e0e0;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	overflow: hidden;
}
.slide .img{
	height: 165px;
	position: absolute;
}
.slide .img li{
	width: 223px;
	height: 165px;
	float: left;
	display: block;
}
.slide .left{
	width: 38px;
	height: 41px;
	display: block;
	background: url(../img/2.png) no-repeat 0px -30px;
	position: absolute;
	top: 65px;
	left: -39px;
}
.slide .right{
	width: 38px;
	height: 41px;
	display: block;
	background: url(../img/2.png) no-repeat -38px -30px;
	position: absolute;
	right: -40px;
	top: 65px;
}
.slide .dot{
	position: absolute;
	right: 3px;
	bottom: 7px;
}
.slide .dot span{
	display: inline-block;
	width: 7px;
	height: 11px;
	padding: 0 3px;
	float: left;
	background-color: #dcdcdc;
	border-radius: 10px;
	margin-right: 5px;
	cursor: pointer;
}
.slide .dot span.active{
	background-color: #ff9000;
}



.slideA{
	width: 223px;
	height: 165px;
	border: 1px solid #e0e0e0;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	overflow: hidden;
}
.slideA .img{
	height: 165px;
	position: absolute;
}
.slideA .img li{
	width: 223px;
	height: 165px;
	float: left;
	display: block;
}
.slideA .left{
	width: 38px;
	height: 41px;
	display: block;
	background: url(../img/2.png) no-repeat 0px -30px;
	position: absolute;
	top: 65px;
	left: -39px;
}
.slideA .right{
	width: 38px;
	height: 41px;
	display: block;
	background: url(../img/2.png) no-repeat -38px -30px;
	position: absolute;
	right: -40px;
	top: 65px;
}
.slideA .dot{
	position: absolute;
	right: 3px;
	bottom: 7px;
}
.slideA .dot span{
	display: inline-block;
	width: 7px;
	height: 11px;
	padding: 0 3px;
	float: left;
	background-color: #dcdcdc;
	border-radius: 10px;
	margin-right: 5px;
	cursor: pointer;
}
.slideA .dot span.active{
	background-color: #ff9000;
}





